.form-input-wrapper {
    height: 40px;
    width: 400px;
    position: relative;
}
.form-label,
.form-input {
    font-size: 16px;
}
.form-input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    position: absolute;
    inset: 0 0 0 0;
    padding-inline: 15px;
    background: none;
}
.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover,
.form-input:-webkit-autofill:focus,
.form-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.form-label {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 15px;
    color: grey;
    transform: translateY(-50%);
    transition: 0.3s ease;
}
.form-input:focus + .form-label {
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
}
.visible-value {
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
}
