.btn {
    outline: none;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
}
.btn-primary {
    background-color: var(--primary-color);
}
.btn-primary:hover {
    background-color: #ffbf00c6;
}
